[branch]
	autosetuprebase = always
[color]
	ui = auto
[commit]
	gpgsign = true
[core]
	autocrlf = false
	editor = vim -c 'set spell'
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
